name: Shopping Scanner
version: "1.0.7"
slug: shopping_scanner
description: Barcode scanner for Home Assistant shopping lists with offline product database
url: https://github.com/Siweaver1971/ha-shopping-scanner
arch:
  - amd64
  - aarch64
startup: application
boot: auto
init: false
ingress: true
ingress_port: 8099
homeassistant_api: true
panel_icon: mdi:barcode-scan
panel_title: Shopping Scanner
options:
  ssl: true
  certfile: fullchain.pem
  keyfile: privkey.pem
schema:
  ssl: bool
  certfile: str
  keyfile: str
image: ghcr.io/siweaver1971/{arch}-addon-shopping-scanner
